<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <rehash_passwd>
            <general>
                <od_amount_months>12</od_amount_months>
            </general>
        </rehash_passwd>
    </default>
</config>
